.row {
    display: table-column-group;

}
.col-xs-2 {
    width: calc(200%/12);
    border: 5px solid deeppink;
    display: flex;
}

section
{
	display: flex;
}

@media screen and (max-width: 640px)		
{
	section
	{
		display: flex;
	}

	p
	{
		width: 90%;
	}
}

/* Set the background color of body to tan */
body {
  background-color: tan;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  body {
    background-color: blue;
  }
  .col-xs-2 {
    width: calc(200%/12);
    border: 5px solid yellow;
    display: flex;
}

}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
  .col-xs-2 {
    width: calc(200%/12);
    border: 5px solid orange;
    display: flex;
}

}